[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
iso8601 = "*"
requests = "*"
aiohttp = "*"
flask = { extras = ["async"], version = ">=1.1.1" }
container-app-conf = ">=5.0.0"
python-telegram-bot = ">=20"
telegram-click = ">=6.0.1"
emoji = "*"
prometheus-client = "*"
prometheus_async = "*"
fuzzywuzzy = "*"
python-Levenshtein = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
